body {
    font-family: Arial, sans-serif;
    background-color: #212530;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.poster img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.quick-download-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quick-download-btn:hover {
    background-color: #0056b3;
}

.description {
    margin-bottom: 30px;
}

.download-area {
    display: none;
    text-align: center;
}

.main-download-btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 30px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-download-btn:hover {
    background-color: #218838;
}

.download-now-btn {
    display: block;
    margin: 20px auto;
    padding: 15px 50px;
    width: 350px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
    text-align: center;
}

.download-now-btn:hover {
    background-color: #0056b3;
}

.slick-slider img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.slick-dots li button:hover,
.slick-dots li button.slick-active {
    background-color: #333;
}

body.dark-mode {
    background-color: #212530;
    color: #ffffff;
}

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.close:hover {
    color: #f44336;
}

.main-download-btn {
    text-decoration: none;
    margin-top: 10px;
}

.system-requirements {
    margin-bottom: 50px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.download-area .row {
    margin-bottom: 40px;
}

.download-area .col {
    padding: 0 5px;
}

.main-download-btn.visualc-download-btn {
    background-color: red;
}


.feature-section {
    margin: 0 auto; /* Center the section */
    max-width: 800px; /* Limit the width of the section */
    padding: 20px;

}


